* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;

}

body {
    font-family: 'Bebas Neue', cursive;
}

ul li {
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.btn1 {
    background-color: #450DA0;
    color: white;
    border-radius: 5px;
    padding: 2px 8px 2px 8px;
}

.btn2 {
    background-color: #450DA0;
    border-radius: 25px;
    padding: 2px 8px 2px 8px;
    color: white;
}

.btn2:hover {
    box-shadow: inset 0 0 0 2px #450DA0;
    border-color: #450DA0;
    background-color: white;
    color: #450DA0;
}

.header_top {
    background-color: #450DA0;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.logo a {
    display: block;
    /* Hace que el enlace cubra toda la imagen */
    text-decoration: none;
    /* Elimina subrayados del texto del enlace */
}

.logo img {
    width: 100%;
    /* Asegura que la imagen se ajuste al tamaño del contenedor */
    height: auto;
    /* Mantiene las proporciones de la imagen */
}

.logo {
    position: relative;
    z-index: 1;
    /* Asegura que esté por encima de otros elementos si es necesario */
}

.busqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 20%;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px 0px 0px 0px;
}

.header_nav a {
    /* color: #000; */
    text-decoration: none;
}

#promos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.promo1 {
    background: linear-gradient(to right, #450da0, #0D021F);
}

.promo2_3 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1%;
    width: 80%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    gap: 2%;
}

.promo2 {
    background: linear-gradient(to right, #450da0, #0D021F);
    width: 40%;
    height: 100%;
}

.promo3 {
    background: linear-gradient(to right, #450da0, #0D021F);
    width: 40%;
    height: 100%;
}

#masVendido {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.masVendido_titulo {
    display: flex;
    justify-content: space-between;
    width: 82%;
    padding: 1%;
}

.masTitulo {
    background-color: #450DA0;
    font-size: 1.25rem;
    padding: 7px 15px 5px 7px;
    border-radius: 0 25px 5px 0;
    color: white;
}

.masTitulillo {
    color: #450DA0;
    text-decoration: none;
}

.carrusel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 1%;
    max-width: 81%;
}

.carrusel_prod {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.carrusel_prod img {
    width: 200px;
    /* Ancho deseado */
    height: 200px;
    /* Altura deseada */
}

.carrusel_ofer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.carrusel_sin_ofer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
}


.carrusel_nom_prod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.carrusel_nom_prod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.porcentaje {
    background-color: rgb(203, 254, 3);
    border-radius: 50%;
    border: solid 1px;
    padding: 10px;
}

.carrusel_flechas {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 2%;
}

footer {
    background-color: #d6c8f8;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #000;
    border-top: solid 10px rgb(69, 13, 160);
}

.foot_izq {
    flex: 1;
    max-width: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rrss {
    text-align: center;
}

.rrss_group {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
}

.rrss_group img {
    width: 40px;
    height: 40px;
}

.foot_text {
    flex: 2;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
}

.foot_text_column {
    flex: 1;
    margin-right: 10px;
}

.foot_text_column h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #450da0;
    margin-bottom: 10px;
}

.foot_text_column ul {
    list-style: none;
    padding: 0;
}

.foot_text_column ul li {
    margin-bottom: 8px;
}

.foot_text_column ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.foot_text_column ul li a:hover {
    color: #605DEE;
}

.foot_dere {
    flex: 1;
    max-width: 25%;
    text-align: left;
}

.foot_dere .pago,
.foot_dere .descargar {
    margin-bottom: 20px;
    margin-right: 40px;
}

.foot_dere h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #450da0;
    margin-bottom: 10px;
}

.foot_dere img {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

.pago {
    text-align: start;
    margin-top: 20px;
}

.pago h3 {
    font-size: 1.5rem;
    color: #450da0;
    margin-bottom: 15px;
}

.pago img {
    width: 20%;
    height: auto;
    margin: 10px;
}

.pago img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.descargar img {
    width: 40%;
    margin-right: 30px;
}

#promosPalas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.promoPalas {
    background: linear-gradient(to right, #450da0, #0D021F);
}

.filtros {
    margin-top: 5%;
}

.filtro_s {
    margin: 0px 0px 15px 50px;
    max-width: 115px;
    background-color: #bfbef8;
    border-radius: 5px;
}

.filtro_s h2 {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0px 20px 0px 5px;
}

.filtro {
    margin: 0px 0px 20px 50px;
    max-width: 200px;
    background-color: #bfbef8;
    border-radius: 5px;
    position: relative;
}

.filtro select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 10px 40px 10px 25px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

.filtro::after {
    content: '';
    position: absolute;
    top: 23%;
    right: 10px;
    transform: translateY(-0%);
    width: 25px;
    height: 22px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"%3E%3Cpath d="M7 10l5 5 5-5H7z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.mas_vendido {
    margin-top: 30px;
}

.productos_destacados {
    max-width: 800px;
    padding-top: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 39%);
}

.productos_destacados h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #450da0;
    text-align: center;
}

.lista_productos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.producto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.producto:last-child {
    border-bottom: none;
}

.producto img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 5px;
}

.detalle_producto {
    flex: 1;
}

.nombre {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 5px;
}

.precio {
    font-size: 1rem;
    color: #333;
}

.precio_original {
    font-size: 0.9rem;
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

/* Tengo que cambiarlo enterito */
@media (max-width: 600px) {
    .producto {
        flex-direction: column;
        align-items: flex-start;
    }

    .producto img {
        margin-bottom: 10px;
    }

    .nombre {
        font-size: 1.1rem;
    }

    .precio {
        font-size: 0.95rem;
    }
}

#galeriaPalas {
    display: flex;

}

#galeriaDer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    gap: 35px;
}

.producto_galeria {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto_galeria:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.producto_galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto_galeria h3 {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.precio {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

.precio .precio_original {
    text-decoration: line-through;
    color: #777;
    font-size: 14px;
    margin-right: 10px;
}

.btn_carrito {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ccff00;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.btn_carrito:hover {
    background-color: #7df506;
}

.favorito {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
}

.favorito:hover {
    color: #ff6666;
}

.descuento {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #c5ff00;
    color: #000;
    font-weight: bold;
    padding: 10px 10px 10px 8px;
    border-radius: 72px;
    font-size: 14px;
}

.paginacion {
    margin: 45px 20px 45px 20px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    color: #555;
}

.paginacion div {
    background-color: #d6c8f8;
    border: none;
    border-radius: 10px;
}

.paginacion span {
    padding: 5px 10px;
    cursor: pointer;
}

.paginacion span:hover {
    background-color: rgb(69, 13, 160);
    color: white;
    border-radius: 5px;
}

#palas2024 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px rgb(69, 13, 160);
    background-color: #bfbef83b;
}

.palas2024_text {
    width: 50%;
    margin: 1%;
}

.palas2024_text h2 {
    font-size: 4rem;
}

.palas2024_text h3 {
    font-size: 2.5rem;
}

.palas2024_text p {
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
}

.palas2024_foto {
    margin: 1%;
}

#promos_Paleteros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.promo_Paleteros {
    background: linear-gradient(to right, #450da0, #0D021F);
}

.buscador {
    padding: 5px 80px 5px 10px;
    border: solid 10px;
    font-size: 1rem;
    border-radius: 15px;
    border-color: #BFBEF8;
}

.buscador2 {
    padding: 5px 200px 5px 10px;
    border: solid 10px;
    font-size: 2rem;
    border-radius: 15px;
    border-color: #BFBEF8;
}

.busqueda2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0px 30px 0px;
}

.orden {
    width: 175px;
    background-color: #bfbef8;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: 3px 23px 3px 5px;
}

.paleteros_busqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0ff;
}

.paleteros_marca {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 80%;
    max-height: 15vw;
    margin-left: 10%;
    gap: 30px;
    background-color: white;
}

.product {
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product_info {
    background-color: #ccff00;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 1.5rem;
}

.product_info span {
    margin: auto;
    font-weight: bold;
    align-items: center;
    /* justify-content: center; */
    display: flex;
}

.product_info button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.product_info:hover {
    background-color: #7df506;
    font-size: 2rem;
    padding: auto;
    margin: auto;
}

.slider_contenedor {
    border: solid 3px #605DEE;
    margin: 2% 10% 2% 10%;
    border-radius: 10%;
    background-color: #5f5dee59;
    overflow: hidden;
}

.slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    cursor: grab;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    width: 80vw;
    height: 70vh;
}

.slide {
    min-width: 80vw;
    height: 69vh;
    scroll-snap-align: start;
}

.slider:active {
    cursor: grabbing;
}

/* MARCAS */
#marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.marcas_grid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 1%;
}

.video_background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 86vw;
    max-height: 100vh;
    pointer-events: none;
    margin: 2% 5% 2% 5%;
    z-index: -1;
}

.contenido {
    position: relative;
    z-index: 1;
    display: grid;
    margin: 2% 20% 2% 20%;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    gap: 20px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}

.marca {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.marca:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

.marca img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

#marcas2024 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px rgb(69, 13, 160);
    background-color: #bfbef83b;
}

.marcas2024_text {
    width: 45%;
}

.marcas2024_text h2 {
    font-size: 4rem;
}

.marcas2024_text h3 {
    font-size: 2.5rem;
}

.marcas2024_text p {
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
}

.marcas2024_foto {
    width: 40%;
    margin: 4%;
}

.marcas2024_foto img {
    width: 100%;
}

.promoBullpadel {
    position: relative;
    /* Establecemos un contenedor con posición relativa */
}

.promoBullpadel1 {
    width: 100%;
    /* O el tamaño que prefieras para la imagen de fondo */
    height: auto;
}

.promoBullpadel2 {
    position: absolute;
    bottom: -50px;
    background: border-box;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}